
html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  width: 960px;
  margin: 0px auto;
}

/* Header */

header {
  background-color: black;
}

.header {
  max-width: 960px;
  color: white;
  margin: auto auto;
  display: flex;
  align-items: center;
}

.header img {
  margin-left: .5rem;
  margin-right: 1rem;
  height: 1.5rem;
}

.header h1 {
  font-size: 1rem;
  margin-top: .66rem;
  margin-bottom: .66rem;
}

/* Main Banner */

.mainbanner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
}

.bannerbox {
  position: relative;
  top: 9rem;
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  max-width: 960px;
}

.bannerbox h2 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .25rem;
}

.bannerbox h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/* Nav Section */

nav {
  background-color: firebrick;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav span {
  margin: .75rem 0px;
}

/* Gallery Section */

.gallery {
  margin: 3rem 0px;
  display: flex;
  justify-content: space-between;
}

.gallerydiv {
  width: 30%;
  text-align: center;
  border: 4px solid black;
}

.gallerydiv img {
  height: 9rem;
  margin: 2rem 0px;
  max-width: 80%;
}

.gallerydiv h3 {
  color: white;
  background-color: black;
  padding: .5rem 0px;
}

/* Info Section */

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.location,
.hours {
  width: 35%;
}

.location h1,
.hours h1 {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

/* Footer */

footer {
  height: 5rem;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
}
